[submodule "GgcWebsite"]
	path = GgcWebsite
	url = https://github.com/Fontys-S6-maatwerk/GgcWebsite.git
[submodule "AuthenticationService"]
	path = AuthenticationService
	url = https://github.com/Fontys-S6-maatwerk/AuthenticationService.git
