[submodule "GgcWebsite"]
	path = GgcWebsite
	url = https://github.com/Fontys-S6-maatwerk/GgcWebsite.git
[submodule "RTRGateway"]
	path = RTRGateway
	url = https://github.com/Fontys-S6-maatwerk/RTRGateway.git
[submodule "WeatherDataService"]
	path = WeatherDataService
	url = https://github.com/Fontys-S6-maatwerk/WeatherDataService.git
[submodule "MachineLearningTrainingService"]
	path = MachineLearningTrainingService
	url = https://github.com/Fontys-S6-maatwerk/MachineLearningTrainingService.git
[submodule "GGCGateway"]
	path = GGCGateway
	url = https://github.com/Fontys-S6-maatwerk/GGCGateway.git
[submodule "TwitterbotService"]
	path = TwitterbotService
	url = https://github.com/Fontys-S6-maatwerk/TwitterbotService.git
[submodule "RTRApp"]
	path = RTRApp
	url = https://github.com/Fontys-S6-maatwerk/RTRApp.git
[submodule "TwitterDataService"]
	path = TwitterDataService
	url = https://github.com/Fontys-S6-maatwerk/TwitterDataService.git